body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  background: white;
  padding: 50px;

}

.result {
  margin-top: 20px;
 }

.result pre {
  font-family: Arial, Helvetica, sans-serif;
}

.table {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  font-size: .85rem;
}


th {
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 5px;
  border: 1px solid #686565;

}

tr {
  height: 40px;
}

td {
  border: 1px solid #686565;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even){background-color: #f2f2f2}

tr:hover {background-color:  rgb(216, 241, 217);}

.summaryElement {
  border:2px solid #686565;
  width: 800px;
  margin: 20px; 
  box-shadow: 2px 10px 20px 5px rgba(0,0,0,0.5);
}

.header {
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: paleturquoise;
  box-shadow: 2px 10px 20px 5px rgba(0,0,0,0.5);
  /* position: relative;
  top: 100px; */
}

.middle {
  display: table;
  margin: 0 auto;
  border: 1px dashed black;
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#fileUploadButton {
  visibility: hidden;
}

#upload-text {
  width: 240px;
  height: 50px;
  text-align: center;
  margin-top: 30px;
}

#summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}